asn1crypto==1.0.1
brewer2mpl==1.4.1
Click==7.0
Flask==1.1.1
JPype1==0.7.0
konlpy==0.5.1
lxml==4.6.2
MarkupSafe==1.1.1
pandas==0.25.1
PySocks==1.7.1
requests==2.22.0
scipy==1.3.0
system==0.1.16
tslib==1.6
urllib3==1.24.2
utils==0.9.0
webencodings==0.5.1
xlrd==1.2.0
Jpype1==0.7.0